<template>
    <div class="slider"  >
        <img v-for="e in photos" :key="e" :src="e.url" alt="" srcset="">
    </div>

    <div class="counter">{{photos.length}}</div>
</template>

<script>
import { defineComponent, ref, onUnmounted } from 'vue'
import { getPhotos } from '@/assets/firebase-service.js'

export default defineComponent ({

    setup () {

        // la liste des photo de firebase
        const photos = ref([])

        // l'index de la photo affiché
        const currentSlide = ref(0)

        // le setInterval
        const timer = ref(0)

        // les DOM img
        const slides = ref(document.getElementsByTagName('img'))
        
        // récupératrion des photos
        getPhotos().onSnapshot((snapshot) => {
            photos.value = []
            snapshot.forEach((doc) => {
                let elem = doc.data()
                photos.value.push({
                    date: elem.date['seconds'],
                    url: elem.url
                })
            })
            // trie par date d'ajout
            photos.value.sort((a, b) => {
                return b.date - a.date
            })
            // console.log(photos.value)
        })

        timer.value = setInterval(() => {
            slides.value = document.getElementsByTagName('img')

            if(slides.value.length > 0) {

                for (let i = 0; i < slides.value.length; i++) {
                    slides.value[i].style.opacity = 0
                }
                currentSlide.value = (currentSlide.value !== slides.value.length - 1) ? currentSlide.value + 1 : 0
                try {
                    slides.value[currentSlide.value].style.opacity = 1
                } catch (err) {
                    console.error(err)
                    currentSlide.value = 0
                    slides.value[currentSlide.value].style.opacity = 1
                }
            } else {
                console.warn("Liste de photo vide")
            }

        }, import.meta.env.VITE_SLIDE_DELAYS)

        onUnmounted(()=> {
            clearInterval(timer.value)
        })

        return {
            photos
        }
    }

})


</script>

<style lang="scss" scoped>

.slider {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    img {
        position: absolute;
        transition: opacity .5s ease-in;
        object-fit: contain;
        width: 98%;
        height: 98%;

        & + img {
            opacity: 0;
        }
    }
}

.counter {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

</style>
