<template>
    <div class="container">
        <label for="file">
            <img src="@/assets/wedding_photo.png"/>
            <div>{{inputLabelText}}</div>
        </label>
        <input type="file" name="photo" id="file" ref="file" accept="image/*" @change="onChangeFileUpload" multiple >
        <button class="btn" @click="envoyerPhoto()" :disabled="count < 1"> 
            Envoyer
            <div class="icon">
                <span class="material-symbols-outlined">send</span>
            </div>
        </button>
    </div>
</template>

<script setup>
import { ref } from 'vue'
import { uploadPhoto } from '../assets/firebase-service'

const defaultText = "Sélectionner des photos"
const inputLabelText = ref(defaultText)
const count = ref(0)

function onChangeFileUpload (event) {
    count.value = event.target.files.length

    if (count.value > 0) {
        if (count.value > 1) {
            inputLabelText.value = count.value + " photos sélectionnées"
        } else {
            inputLabelText.value = count.value + " photo sélectionnée"
        }
    } else {
        inputLabelText.value = defaultText
    }
}

function envoyerPhoto () {
    let files = document.getElementById('file').files

    Array.from(files).forEach((f) => {
        uploadPhoto(f)
    });

    inputLabelText.value = defaultText

}

</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");


.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    input[type=file] {
        display: none;
    }

    label {
        cursor: pointer;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        img {
            max-width: 200px;
        }

    }

    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        color: #fff;
        background-color: #FFCC66;
        color: #000;
        font-weight: bold;

        .icon {
            margin-left: 10px;

            .material-symbols-outlined {
                font-size: 27px;
            }
        }

        &:disabled,
        &[disabled]{
            background-color: #a17f3b;
            cursor: no-drop;
        }
    }
}

</style>