
html,
body {
    margin: 0;
    padding: 0;
    background-color: #344955;
    color: white;
}

button,
input {
    border: 0;
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
